<div class="app-filter">
    <div class="filter-head">
        <h3>Filter 454 Items</h3>
        <p>Category: <span>French</span></p>
        <p>Department: <span>Regional</span></p>
    </div>

    <div class="filter-form">
        <div class="filter">
            <h3>Color</h3>
            <div class="filter-main">
                <div class="color-button"><div class="inner"></div></div>
                <div class="color-button active"><div class="inner red"></div></div>
                <div class="color-button"><div class="inner green"></div></div>
                <div class="color-button"><div class="inner blue"></div></div>
                <div class="color-button"><div class="inner yellow"></div></div>
            </div>
        </div>
        <div class="filter">
            <h3>Size</h3>
            <div class="filter-main">
                <div class="size-button">XS</div>
                <div class="size-button active">S</div>
                <div class="size-button">M</div>
                <div class="size-button">L</div>
                <div class="size-button">XL</div>
            </div>
        </div>
        <div class="filter">
            <h3>Price range</h3>
            <div class="filter-main">
                <div class="custom-slider">
                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-action">
        <app-cbutton value="Apply"></app-cbutton>
        <div class="clear-btn">
            <span>x Clear All</span>
        </div>
    </div>

</div>
