@import '../../../variables';

.cbutton {
  background: $our-redish;
  border-color: $our-redish;
  border-radius: 20px;
  font-weight: 500;
  min-width: 130px;
  padding: 4px 20px;
  transition: .8s all;

  &:hover {
    background: rgba($our-redish, .5);
  }

  &.theme2 {
    background: $white;
    border-color: $white;
    color: $our-redish;
  }

  &.theme2:hover {
    background: $our-redish;
    border-color: $white;
    color: $white;
  }

  &:focus,
  &:hover {
    border-color: $our-redish;
    box-shadow: 0 0 0 1px rgba($our-redish, .5);
  }

  &.md {
    border-radius: 25px;
    font-size: 1.4em;
    padding: 12px 45px;
  }

  &.lg {
    border-radius: 40px;
    font-size: 1.8em;
    padding: 15px 65px;
  }
}
