<footer class="app-footer">
    <div class="footer-menu">
          <ul class="nav justify-content-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <li class="nav-item">
              <a class="nav-link" routerLink="dept/regional" 
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Regional </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="dept/nature"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Nature <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="dept/seasonal" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Seasonal</a>
            </li>
          </ul>
    </div>
    <div class="footer-social">
        <div class="social-btn">
            <a href="https://github.com/alexxsanya">
                <i class="fa fa-github"></i>
            </a>
        </div>
        <div class="social-btn">
            <a href="https://linkedin.com/in/alex-ssanya-a02a99110/">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="social-btn">
            <a href="https://twitter.com/AlexSsanya">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="social-btn">
            <a href = "mailto:alexxsanya@gmail.com">
                <i class="fa fa-google"></i>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link"  href="https://github.com/alexxsanya">&#9400; alexxsanya </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href = "mailto:alexxsanya@gmail.com"
                    >Contact <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>
