<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark cust-main-navbar">
    <a class="navbar-brand" href="/">TURING SHOPMATE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/homenavbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding:0 24px">
      <ul class="navbar-nav mr-5 cust-menu-bar">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#" routerLinkActive="active">Women <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="false">Men</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Kids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Shoes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Brands</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-auto cust-search-form">
          <i class="fa fa-search search-icon"></i>
        <input class="form-control mr-sm-2" type="search" placeholder="search anything" aria-label="Search">
      </form>
      <div class="navbar shopping-cart">
        <i class="fa fa-shopping-bag"></i>
        <span class="badge badge-light">4</span>
      </div>
    </div>
  </nav>