<div class="app-product">
    <div [ngClass]="isHovered?'app-cover-info':'hide-cover-info'" (mouseleave)="showInfo()">
      <i class="fa fa-heart-o" (click)='favorite()'></i>
      <app-cbutton value="Quick view"> </app-cbutton>
    </div>
    <!-- <img class="thumbnail" src="https://backendapi.turing.com/images/products/wreath.gif"/> -->
    <img class="thumbnail" [src]='thumbnail' (mouseenter)="showInfo()"/>
    <h3 class="product-name">{{name}}</h3>
    <h3 class="product-price">
      {{ 10000000 | currency:'&#8358;' : 'symbol' : '1.2' }}
      <span class="old-price"> {{ old_price | currency:'&#8358;' : 'symbol' : '1.2' }} </span>
    </h3>
    <app-cbutton value="Buy now"> </app-cbutton>

</div>
