<main class="app-single-item">
    <ngx-ui-loader 
        [loaderId]="'loader-product'"
        [text]="'Loading...'"
        [textColor]="'#f62f5e'"
        [hasProgressBar]="true"
        [overlayColor]="'transparent'"
      ></ngx-ui-loader>
    <article class="product-show-case" *ngIf="productDetails.length != 0">
        <div class="product-display">
            <img src="https://backendapi.turing.com/images/products/{{productDetails.image}}" id="main-img"/>
        </div>
        <div class="product-thumbnails">
            <img (click)="switchImages($event)" 
                src="https://backendapi.turing.com/images/products/{{productDetails.image}}" />
            <img (click)="switchImages($event)" 
                src="https://backendapi.turing.com/images/products/{{productDetails.image_2}}" />
        </div>
    </article>
    <article class="product-details" *ngIf="productDetails.length != 0">
            <header>
                <div class="product-rating">
                    <bar-rating
                        [(rate)]="this.productDetails.rating" [max]="5" [readOnly]="true"></bar-rating>
                </div>
                <h2>{{productDetails.name}}</h2>
                <p>{{productDetails.description}}</p>
                <h3 class="product-price">
                    <span *ngIf="productDetails.discounted_price > 0">
                        {{ productDetails.discounted_price | currency:'&#163;' : 'symbol' : '1.2' }}
                    </span>
                    <span *ngIf="productDetails.discounted_price == 0">
                        {{ productDetails.price | currency:'&#163;' : 'symbol' : '1.2' }}
                    </span>
                    <span class="old-price" *ngIf="productDetails.discounted_price>0"> {{ productDetails.price | currency:'&#163;' : 'symbol' : '1.2' }} </span>
                </h3>
            </header>
            <div>
                <div class="product-qty">
                    <h3>Quantity</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary qty-btn" type="button" (click)="decrementQty()">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control qty-input" maxlength="3" value="{{quantity}}" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary qty-btn" type="button" (click)="incrementQty()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-action">
                    <app-cbutton value="Add to Cart" class="md" (click)="addToCart()"> </app-cbutton>
                </div>
            </div>
    </article>
</main>