// fonts 
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

//colors
$white: #fff;
$bg-black: #2e2e2e;
$our-gray: #969696;
$our-redish: #f62f5e;
$our-orange: #f1ad3d;
$our-yellow: #effc90;
$our-green: #00d3ca;
$our-blue: #6eb2fb;
$black: #000;
$bg-light: #f7f7f7;
$our-gray-l: #7c7c7c;
$box-shadow: rgba(0, 0, 0, .1);


