// fonts 
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

//colors
$white: #fff;
$bg-black: #2e2e2e;
$our-gray: #969696;
$our-redish: #f6305e;
$black: #000;
$bg-light: #f7f7f7;
$box-shadow: rgba(0,0,0,0.1);


