// You can add global styles to this file, and also import other style files 
@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background: $bg-light;
  max-width: 1500px;
  min-width: 1024px;
}
