// You can add global styles to this file, and also import other style files 
@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background: $bg-light;
  max-width: 1500px;
  min-width: 1024px;
}

.br-unit {
  font-size: 25px !important;
  height: 18px;
  margin-right: 9px;
  width: 18px;

  &.br-selected {
    &::after {
      color: $our-redish;
    }
  }
}

.my-pagination {
  margin: auto;
  
  .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '<';
    margin-right: 0.5rem;
    background: #eaeaea;
    color: #2e2e2e;
    width: 30px;
    text-align: center;
    vertical-align: center;
    border-radius: 15px;
  }
  .ngx-pagination li {
    margin: 0 2px;
  }
  .ngx-pagination li a, .ngx-pagination li {
    border-radius: 15px;
    outline: none;
  }
  .ngx-pagination li a:hover {
    text-decoration: none;
  }
  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: $our-redish !important;
    color: #fefefe;
  }

  .pagination-previous a:hover, .pagination-next a:hover {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }
}