<div class="app-products">
  <ngx-ui-loader ></ngx-ui-loader>
  <div class="filter-box">
    <app-filter></app-filter>
  </div>
  <div class="grid-layout">
    <!-- <div>
        <app-product 
            name="Men's Knitwear Offer"
            thumbnail="assets/shirt.png"
            price="4.00"
            old_price="5.69"
        >
        </app-product>
    </div>
    <div></div>
    <div></div>
    <div></div>    
    <div></div>
    <div></div> -->
    <div *ngFor="let product of productStore.rows">
        <app-product id={{product.product_id}}
            name={{product.name}}
            thumbnail="https://backendapi.turing.com/images/products/{{product.thumbnail}}"
            price={{product.price}}
            old_price={{product.discounted_price}}
        >
        </app-product>
    </div>

  </div>
</div>
