@import '../../../../variables';

.app-products {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 200px;
  width: 93%;

  .filter-box {
    background: $white;
    box-shadow: 0 0 10px $box-shadow;
    height: 720px;
    margin-right: 22px;
    width: 22.5%;
  }

  .grid-layout {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 76%;

    div {
      background: $white;
      box-shadow: 0 0 10px $box-shadow;
      height: 350px;
      margin: 0 20px 20px 0;
      width: 31.8%;

      &:nth-child(3),
      &:nth-child(6) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 0 40px $box-shadow;
        cursor: pointer;
      }
    }
  }
}
