@import '../../../../variables';

.app-products {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 200px;
  width: 88.7%;

  .filter-box {
    background: $white;
    box-shadow: 0 0 10px $box-shadow;
    height: 750px;
    margin-right: 30px;
    width: 22.5%;
  }

  .grid-layout {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    width: 76%;

    div {
      align-items: center;
      background: $white;
      box-shadow: 0 0 10px $box-shadow;
      display: flex;
      height: 360px;
      justify-content: center;
      margin: 0 30px 30px 0;
      width: 31%;


      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 0 40px $box-shadow;
        cursor: pointer;
      }
    }
  }
}
