@import '../../../../variables';

.app-products {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
  width: 88.7%;

  .filter-box {
    background: $white;
    box-shadow: 0 0 10px $box-shadow;
    height: 750px;
    margin-right: 30px;
    width: 22.5%;
  }

  .grid-layout {
    position: relative;
    width: 76%;

    .products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;

      div.item {
        align-items: center;
        background: $white;
        border: 1px dashed #ededed;
        box-shadow: 0 0 10px $box-shadow;
        display: flex;
        height: 300px;
        justify-content: center;
  
        &:hover {
          box-shadow: 0 0 40px $box-shadow;
          cursor: pointer;
        }
      }
    }
  }
}
